:root {
  --bgc-black: rgb(20, 18, 11);
  --white-pri: #edecec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  background: var(--bgc-black);
  color: var(--white-pri);
}

.mod-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bgc-black);
  nav {
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;

    .right-logo img {
      height: 22px;
    }
    .mid-links a {
      text-decoration: none;
      color: var(--white-pri);
      font-size: 14px;
      padding: 15px;
    }
    .left-cta {
      font-size: 14px;
      padding: 5.88px 10.5px;
    }
    .left-cta .sign-in {
      color: var(--white-pri);
      background: var(--bgc-black);
      font-size: 14px;
      padding: 5.88px 10.5px;
      border-radius: 40px;
      border: none;
      border: 1px solid rgba(237, 236, 236, 0.2);
    }
    .left-cta .download {
      color: var(--bgc-black);
      background: var(--white-pri);
      font-size: 14px;
      padding: 5.88px 10.5px;
      border-radius: 40px;
      border: none;
    }
  }
}

main {
  .container {
    width: 75%;
    margin: 20px auto;
    .landing h2 {
      font-weight: 400;
      margin-top: 120px;
      font-size: 26px;
      letter-spacing: -0.325px;
    }
    .cta-btn {
      color: var(--bgc-black);
      background: var(--white-pri);
      font-size: 16px;
      padding: 12.8px 21.6px;
      border-radius: 40px;
      border: none;
      border: 1px solid var(--bgc-black);
      font-weight: 400px;
      margin: 20px 0;
    }
    .landing-main {
      position: relative;
    }
    .landing-bg {
      width: 100%;
      margin: 60px 0;
      border-radius: 4px;
      height: 42.5rem;
      position: relative;
    }
    .landing-code {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      border-radius: 4px;
    }
  }

  .trusted-by {
    h3 {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      margin-top: 22.4px;
    }
    .trusted-comp {
      display: flex;
      /* background-color: #ff0000; */
      gap: 8px;
      /* flex-wrap: wrap; */
      /* justify-content: center; */
      /* overflow: hidden; */

      img {
        box-sizing: content-box;
        max-width: 140px;
        /* flex: 1; */
        flex: 1 1 0;
        min-width: 0;

        height: 40px;
        background-color: rgb(27, 25, 19);
        padding: 28px;
        border-radius: 4px;
        margin-top: 25px;
      }
    }
  }
}

.feature {
  .card {
    margin-top: 80px;
    padding: 20px;
    height: 690px;
    background-color: rgb(27, 25, 19);
    display: flex;
    border-radius: 8px;
  }
  #card-2 {
    flex-direction: row-reverse;
  }
  #text-2 {
    margin-left: 40px;
  }
  .text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    h3 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
      font-weight: 400;
      font-size: 22px;
    }
    a {
      color: rgb(245, 78, 0);
      text-decoration: none;
      margin-top: 20px;
    }
  }
  .im {
    width: 70%;
    position: relative;
    .bg-img {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 8px;
    }
    .code-img {
      border-radius: 8px;
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.testimonials {
  h2 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 50px;
  }
  .testi-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    .grid-card {
      background-color: rgb(27, 25, 19);
      border-radius: 8px;
      padding: 20px;
      font-size: 16px;
      height: 275px;
      position: relative;
      .card-foot {
        display: flex;
        align-items: center;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        img {
          width: 40px;
          border-radius: 4px;
          margin: 15px;
        }
      }
    }
  }
}

.stay-frontier {
  margin-top: 180px;
  h3 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .list-card {
    display: flex;
    /* flex-wrap: wrap; */

    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;

    .card-frontier {
      flex: 1 1 0;
      min-width: 0;
      display: flex;
      flex-direction: column;

      height: 473px;
      background-color: rgb(27, 25, 19);
      padding: 20px;
      border-radius: 8px;
      /* margin: auto; */

      h4 {
        font-size: 16px;
        font-weight: 400;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
      }
      a {
        color: rgb(245, 78, 0);
        text-decoration: none;
        margin-top: 20px;
        i {
          font-size: 12px;
        }
      }
      img {
        /* height: 90%; */
        /* width: 90%; */
        /* margin: auto; */
        border-radius: 4px;
        margin-top: 15px;
      }
    }
  }
}

.changelog {
  margin-top: 180px;
  h4 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .logs {
    display: flex;
    gap: 10px;
    .card-changelog {
      background-color: rgb(27, 25, 19);
      padding: 30px;
      border-radius: 4px;
      div {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        gap: 14px;
        color: #edecec99;
        span {
          border: 1px solid #edecec99;
          border-radius: 40px;
          padding: 3px 8px;
        }
      }
    }
  }
  a {
    color: rgb(245, 78, 0);
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;

    i {
      font-size: 12px;
    }
  }
}

.join-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  button {
    width: 134px;
    padding: 15px 30px;
    margin-bottom: 40px;
    border-radius: 40px;
  }
  img {
    border-radius: 4px;
  }
}

.recent-higlight {
  background-color: #1b1913;
  height: 690px;
  position: relative;
  margin-top: 150px;

  h3 {
    position: absolute;
    top: 18%;
    left: 16%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 400;
  }
  .highlight-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    a {
      color: rgb(245, 78, 0);
      text-decoration: none;
      display: inline-block;
      margin-top: 30px;

      i {
        font-size: 12px;
      }
    }

    .card-highlight {
      width: 650px;
      background-color: #26241e;
      border-radius: 4px;
      padding: 16px;
      h4 {
        font-size: 16px;
        font-weight: 400;
      }
      p {
        color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
      }
      span {
        color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
        margin-top: 30px;
        display: inline-block;
      }
    }
  }
}

.download-now {
  position: relative;
  height: 420px;
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 72px;
    font-weight: 400;
  }
  button {
    margin-top: 20px;
    padding: 12.48px 21.6px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    border-radius: 40px;
    transform: translateX(-50%);
  }
}

footer {
  margin-bottom: 0;
  background-color: rgb(27, 25, 19);
  .foot-contain {
    
    /* background-color: red; */
    width: 75%;
    padding: 60px 0px;
    margin: 0 auto;
    .foot-card-list {
      display: flex;
      .foot-card {
        flex: 1 1 0;
        min-width: 0;
        span {
          color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
          display: inline-block;
          margin-bottom: 5px;
        }
        li {
          list-style-type: none;
          a {
            line-height: 2;
            color: #edecec;
            text-decoration: none;
          }
        }
      }
    }
    .foot-copy-right {
      margin-top: 90px;
      /* margin-bottom: 0; */
      display: flex;
      color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
      justify-content: space-between;
      button {
        padding: 8px;
        margin: 0;
        border: none;
        background-color: rgb(65, 65, 63);
        color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
      }
      .desktop {
        border-radius: 40px 0 0 40px;
        color: #edecec;
      }
      .dark-mode {
        border-radius: 0 40px 40px 0;
      }
      .lang {
        border-radius: 40px;
        margin-left: 10px;
        color: #edecec;
      }
    }
  }
}
